/* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #fad548;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

/* Button Style */
.custom-button {
  background-color: #ab04d9;
  color: white;
  border: 5px solid black;
  text-decoration: none;
  padding: 1em;
  border-radius: 1em;
  font-size: 1em;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.custom-button:hover {
  border: 5px solid white;
  color: #fad548;
  cursor: pointer;
}

/* .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
} */
.company-content {
  margin-top: 10em;
}
.section-content {
  margin-top: 5em;
  margin-bottom: 5em;
}
.section-content-games {
  background-color: rgba(255, 255, 255, 0.8);
  background: url(./GlobalAssets/low-poly-grid-haikei.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border: 5px solid #ab04d9;
}
.content-center {
  text-align: center;
  margin-top: 5em;
}
.content-background {
  background-color: #fad548;
  padding: 1em;
  border: 5px solid #ab04d9;
  border-bottom: none;
}
.header-custom {
  font-weight: bold;
  font-size: 2.5em;
}
.img-custom {
  width: 100%;
  max-width: 30em;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 6em;
  line-height: 100px;
  background: #ab04d9;
  z-index: 100;
}
.nav-logo p {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.nav-menu,
.nav-logo {
  margin-top: 1.7em;
}
.nav-menu ul {
  display: flex;
}
.nav-menu ul li {
  list-style-type: none;
}
.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: white;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover,
.active {
  border-bottom: 2px solid #fff;
}

.nav-menu-btn {
  display: none;
}

@media only screen and (max-width: 786px) {
  .nav-button {
    display: none;
  }
  .nav-menu.responsive {
    top: 4.3em;
  }
  .nav-menu {
    position: absolute;
    top: -900em;
    display: flex;
    justify-content: center;
    background: rgba(24, 24, 24, 0.7);
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(20px);
    transition: 0.3s;
    z-index: -1;
  }
  .nav-menu ul {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .nav-menu ul li {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .nav-menu-btn {
    display: block;
  }
  .nav-menu-btn i {
    font-size: 1.5em;
    color: #fff;
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
    cursor: pointer;
    transition: 0.3s;
  }
  .nav-menu-btn i:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}
@media only screen and (max-width: 540px) {
  .wrapper {
    min-height: 100vh;
  }
}











/* About CSS */
.main-profiles{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1.5rem;
  padding: 1rem;
  font-size: 1.2rem;

  /* border: 1px solid red; */
}
.single-profile{
  min-width: 100%;
  height: 100%;
  margin-bottom: 1em;
  /* border: 1px solid white;  */
}

.single-profile .profile-img{
  height: 12em;
  width: 12em;
  border-radius: 2em;
  border: 5px solid #ab04d9;
}
.single-profile img{
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
  object-fit: cover;
}

.profile-user-name{
  margin-top: 1em;
  font-size: 1.7em;
}
.single-profile h5{
  font-size: .7em;
  font-weight: bold;
  letter-spacing: .1em;
  color: #000000;
  word-break: break-all;
}
@media only screen and (max-width: 1395px){
  .main-profiles{
      grid-template-columns: repeat(4, 1fr);
  }

  .single-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media only screen and (max-width: 1275px){
  .main-profiles{
      grid-template-columns: repeat(3, 1fr);
      margin: 20px 0;
  }
}

@media only screen and (max-width: 955px){
  .main-profiles{
      grid-template-columns: repeat(2, 1fr);
      margin: 20px 0;
  }
}

@media only screen and (max-width: 720px){
  .main-profiles{
      grid-template-columns: repeat(1, 1fr);
      margin: 20px 0;
  }
}














/* Footer */
footer {
  background-color: #8303a6;
}
.footerContainer {
  width: 100%;
  padding: 1em;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  margin: 1.5em;
  border-radius: 1em;
}
.socialIcons a i {
  font-size: 2em;
  color: #fad548;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: #ffffff;
  transition: 0.5s;
}
.footerNav {
  margin: 1em;
  padding: 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}
.footerNav ul li a {
  color: white;
  margin: 1em;
  text-decoration: none;
  font-size: 1.2em;
  opacity: 0.8;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}
.footerBottom {
  background-color: #ab04d9;
  padding: 1em;
  text-align: center;
}
.footerBottom p {
  color: white;
}

@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
  }
}
